<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
#design{
color:red
}

</style>
</head>
<body>
<form th:action="@{user}" th:object="${user}">

First Name<input type="text" name="first"><br>
<div id="design" th:if="${#fields.hasErrors('first')}" th:errors="*{first}"></div>
Last Name<input type="text" name="last"><br>
<div id="design" th:if="${#fields.hasErrors('last')}" th:errors="*{last}"></div>
Email<input type="text" name="email"><br>
<div id="design" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
Phone<input type="text" name="phone"><br>
<div id="design" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
<input type ="submit" value="submit">

</form>

</body>
</html>